<div class="game-container mx-auto" [class.container]="!layoutService.isFluid()">
  @if (showLeaderboard()) {
	  @if (layoutService.showTeamLeaderboard() && teams().length > 0) {
		<app-team-leaderboard [teams]="teams()" />
	  } @else {
		  <app-player-leaderboard [players]="sortedPlayers()" />
	  }
  }

	@if (layoutService.showTeamRace() && teams().length > 0) {
		<app-race-team
			[teams]="teams()"
			[allTeams]="teams()"
			[game]="game()"
		/>
	}

  <app-race
    [players]="pagedPlayers()"
    [allPlayers]="players()"
    [game]="game()"
  />

  @if (pageNumbers().length > 1) {
    <div class="pagination">
      @for (page of pageNumbers(); track page) {
        <a [routerLink]="['/game/page', page]"
           [class.active]="currentPage() === page">
          {{ page }}
        </a>
      }
    </div>
  }
</div>
