<div class="race">
	<div class="players">
		@for (player of players(); track player.id) {
		<div class="player-container row">
			<div class="player-name" [ngClass]="{ 'not-last': !$last, 'border-bottom-left': $last, 'border-top-left': $first }">
				<img [src]="player.photo" alt="player photo">
				<div class="player-info">
					<p>{{ player.name }}</p>
					<p class="points">{{ player.points }} pts</p>
				</div>
			</div>
			<div class="horse-container col-11">
				<div class="player" [style.left.%]="player.points | playerLeftPercentage: allPlayers()!: game()" [id]="'horse-' + player.id">
					<img src="./assets/img/horse/{{ player.horse }}.svg" width="85">
				</div>
				@if ($first) {
					<div class="top-grass" [ngClass]="{ 'border-bottom-right': $last, 'border-top-right': $first }"></div>
				} @else {
					<div class="grass" [ngClass]="{ 'border-bottom-right': $last, 'border-top-right': $first }"></div>
				}
			</div>
		</div>
		}
	</div>
</div>
